---
# Ansible playbook related variables
NAMESPACE: metal3
HOME: "{{ lookup('env', 'HOME') }}"
CRS_PATH: "{{ metal3_dir }}/vm-setup/roles/v1aX_integration_test/templates"
KUBECONFIG_PATH: "/home/ubuntu/.kube/config"
pod_cidr: 192.168.0.0/18

SSH_PRIVATE_KEY: "{{ lookup('env', 'SSH_KEY') }}"
SSH_PUB_KEY_CONTENT: "{{ lookup('file', '{{ HOME }}/.ssh/id_rsa.pub') }}"
CLUSTER_NAME: "{{ lookup('env', 'CLUSTER_NAME') | default('test1', true) }}"
KUBERNETES_VERSION: "{{ lookup('env', 'KUBERNETES_VERSION') | default('v1.17.0', true) }}"

# Environment variables for deployment
IMAGE_OS: "{{ lookup('env', 'IMAGE_OS') | default('Ubuntu', true)}}"
CONTAINER_RUNTIME: "{{ lookup('env', 'CONTAINER_RUNTIME') | default('podman', true)}}"
DEFAULT_HOSTS_MEMORY: "{{ lookup('env', 'DEFAULT_HOSTS_MEMORY') | default('4096', true)}}"
CAPI_VERSION: "{{ lookup('env', 'CAPI_VERSION') | default('v1alpha3', true)}}"

# Distibution specific environment variables
IMAGE_NAME: 'bionic-server-cloudimg-amd64.img'
IMAGE_LOCATION: 'https://cloud-images.ubuntu.com/bionic/current'
IMAGE_USERNAME: 'ubuntu'
IMAGE_URL: "http://172.22.0.1/images/{{ IMAGE_NAME }}"
IMAGE_CHECKSUM: "http://172.22.0.1/images/{{ IMAGE_NAME }}.md5sum"

IMAGE_NAME_CENTOS: 'CentOS-7-x86_64-GenericCloud-1907.qcow2'
IMAGE_LOCATION_CENTOS: 'http://cloud.centos.org/centos/7/images'
IMAGE_USERNAME_CENTOS: 'centos'
IMAGE_URL_CENTOS: "http://172.22.0.1/images/{{ IMAGE_NAME_CENTOS }}"
IMAGE_CHECKSUM_CENTOS: "http://172.22.0.1/images/{{ IMAGE_NAME_CENTOS }}.md5sum"
