packages:
  ubuntu:
    common:
      packages:
        - python3-setuptools
        - zlib1g-dev
        - openssh-server
        - wget
        - curl
        - dnsmasq
        - nmap
        - ovmf
        - patch
        - psmisc
        - libvirt-clients
        - libvirt-dev
        - bridge-utils
        - jq
        - unzip
        - genisoimage
        - qemu-kvm
        - libguestfs-tools
        - gir1.2-polkit-1.0
        - libpolkit-agent-1-0
        - libpolkit-gobject-1-0
        - apache2-utils
    podman:
      packages:
        - apt-transport-https
        - ca-certificates
        - gnupg-agent
        - software-properties-common
    focal_jammy:
      packages:
        - apparmor
        - apparmor-profiles-extra
        - apparmor-utils
        - libvirt-daemon
        - libvirt-daemon-system
        - libssl-dev
        - netcat
    noble:
      packages:
        - apparmor
        - apparmor-profiles-extra
        - apparmor-utils
        - libvirt-daemon
        - libvirt-daemon-system
        - libssl-dev
        - netcat-traditional
    pip3:
    - python-apt
    - kubernetes==25.3.0
    - pyYAML
    - virtualbmc
    - lxml
    - netaddr
    - libvirt-python
    - six
    - docker-py
    - jmespath
    - passlib
  centos:
    common:
      packages:
        - bind-utils
        - curl
        - dnsmasq
        - edk2-ovmf
        - firewalld
        - genisoimage
        - httpd-tools
        - jq
        - libguestfs-tools
        - libguestfs-tools
        - libvirt
        - libvirt-daemon-kvm
        - libvirt-devel
        - NetworkManager
        - nmap
        - patch
        - podman
        - polkit-pkla-compat
        - psmisc
        - python3-bcrypt
        - python3-libvirt
        - python3-lxml
        - python3-netaddr
        - python3-requests-oauthlib
        - python3-six
        - qemu-img
        - qemu-kvm
        - unzip
        - vim-enhanced
        - virt-install
        - wget
    pip3:
      - flask_oauthlib==0.9.6
      - jmespath
      - kubernetes==25.3.0
      - passlib
  suse:
    common:
      packages:
        - jq
        - qemu-img
        - libvirt
        - libvirt-devel
        - dnsmasq
        - virt-install
        - unzip
        - nmap
        - docker
        - podman
        - python311-setuptools
        - python311-lxml
        - python311-netaddr
        - python311-libvirt-python
        - python311-passlib
        - python311-cryptography
        - qemu-hw-display-virtio-gpu
        - apache2-utils
    pip3:
      - jmespath
      - pyYAML
      - kubernetes==25.3.0
DAEMON_JSON_PATH: "{{ metal3_dir }}/vm-setup/roles/packages_installation/files"
TEMPLATES_PATH: "{{ metal3_dir }}/vm-setup/roles/packages_installation/templates"
CONTAINER_RUNTIME: "{{ lookup('env', 'CONTAINER_RUNTIME') }}"
OS_VERSION_ID: "{{ lookup('env', 'OS_VERSION_ID') }}"
REGISTRY: "{{ lookup('env', 'REGISTRY') }}"
DOCKER_IPV6_SUPPORT: "{{ lookup('env', 'DOCKER_USE_IPV6_INTERNALLY') | default('false', true) }}"
ANSIBLE_VENV: "{{ lookup('env', 'ANSIBLE_VENV') | default('/usr', true) }}"
ENABLE_NAT64: "{{ lookup('env', 'ENABLE_NAT64') | default('false', true) }}"
DOCKER_LOCAL_DNS_V6: "{{ lookup('env', 'LOCAL_DNS_V6') | default('\"::1\", \"fd00:abcd::1\"', true) }}"
