export REGISTRY='{{ REGISTRY }}'
export IRONIC_HOST_IP='{{ IRONIC_HOST_IP }}'
export DEPLOY_KERNEL_URL='{{ DEPLOY_KERNEL_URL }}'
export DEPLOY_RAMDISK_URL='{{ DEPLOY_RAMDISK_URL }}'
export IRONIC_URL='{{ IRONIC_URL }}'
export IRONIC_INSPECTOR_URL='{{ IRONIC_INSPECTOR_URL }}'
export POD_CIDR='{{ POD_CIDR }}'
export SERVICE_CIDR='{{ SERVICE_CIDR }}'
export API_ENDPOINT_HOST='{{ CLUSTER_APIENDPOINT_HOST }}'
export API_ENDPOINT_PORT='{{ API_ENDPOINT_PORT }}'
export IMAGE_URL='{{ IMAGE_URL }}'
export IMAGE_CHECKSUM='{{ IMAGE_CHECKSUM }}'
export IMAGE_CHECKSUM_TYPE='md5'
export IMAGE_FORMAT='raw'
export PROVISIONING_POOL_RANGE_START='{{ PROVISIONING_POOL_RANGE_START }}'
export PROVISIONING_POOL_RANGE_END='{{ PROVISIONING_POOL_RANGE_END }}'
export PROVISIONING_CIDR='{{ PROVISIONING_CIDR }}'
export BAREMETALV4_POOL_RANGE_START='{{ BAREMETALV4_POOL_RANGE_START }}'
export BAREMETALV4_POOL_RANGE_END='{{ BAREMETALV4_POOL_RANGE_END }}'
export EXTERNAL_SUBNET_V4_PREFIX='{{ EXTERNAL_SUBNET_V4_PREFIX }}'
export EXTERNAL_SUBNET_V4_HOST='{{ EXTERNAL_SUBNET_V4_HOST }}'
export BAREMETALV6_POOL_RANGE_START='{{ BAREMETALV6_POOL_RANGE_START }}'
export BAREMETALV6_POOL_RANGE_END='{{ BAREMETALV6_POOL_RANGE_END }}'
export EXTERNAL_SUBNET_V6_PREFIX='{{ EXTERNAL_SUBNET_V6_PREFIX }}'
export EXTERNAL_SUBNET_V6_HOST='{{ EXTERNAL_SUBNET_V6_HOST }}'
export CTLPLANE_KUBEADM_EXTRA_CONFIG="
    users:
    - name: {{ IMAGE_USERNAME }}
      sudo: \"ALL=(ALL) NOPASSWD:ALL\"
      sshAuthorizedKeys:
      - {{ SSH_PUB_KEY_CONTENT }}
    preKubeadmCommands:
      - netplan apply
      - systemctl enable --now crio kubelet
      - if (curl -sk --max-time 10 https://{{ CLUSTER_APIENDPOINT_HOST }}:6443/healthz); then echo \"keepalived already running\";else systemctl start keepalived; fi
      - systemctl link /lib/systemd/system/monitor.keepalived.service
      - systemctl enable monitor.keepalived.service
      - systemctl start monitor.keepalived.service
    postKubeadmCommands:
      - mkdir -p /home/{{ IMAGE_USERNAME }}/.kube
      - cp /etc/kubernetes/admin.conf /home/{{ IMAGE_USERNAME }}/.kube/config
      - systemctl enable --now keepalived
      - chown {{ IMAGE_USERNAME }}:{{ IMAGE_USERNAME }} /home/{{ IMAGE_USERNAME }}/.kube/config
    files:
      - path: /usr/local/bin/monitor.keepalived.sh
        owner: root:root
        permissions: '0755'
        content: |
            #!/bin/bash
            while :; do
              curl -sk https://127.0.0.1:6443/healthz 1>&2 > /dev/null
              isOk=\$?
              isActive=\$(systemctl show -p ActiveState keepalived.service | cut -d'=' -f2)
              if [ \$isOk == \"0\" ] &&  [ \$isActive != \"active\" ]; then
                logger 'API server is healthy, however keepalived is not running, starting keepalived'
                echo 'API server is healthy, however keepalived is not running, starting keepalived'
                sudo systemctl start keepalived.service
              elif [ \$isOk != \"0\" ] &&  [ \$isActive == \"active\" ]; then
                logger 'API server is not healthy, however keepalived running, stopping keepalived'
                echo 'API server is not healthy, however keepalived running, stopping keepalived'
                sudo systemctl stop keepalived.service
              fi
              sleep 5
            done
      - path: /lib/systemd/system/monitor.keepalived.service
        owner: root:root
        content: |
            [Unit]
            Description=Monitors keepalived adjusts status with that of API server
            After=syslog.target network-online.target

            [Service]
            Type=simple
            Restart=always
            ExecStart=/usr/local/bin/monitor.keepalived.sh

            [Install]
            WantedBy=multi-user.target
      - path: /etc/keepalived/keepalived.conf
        content: |
          ! Configuration File for keepalived
          global_defs {
              notification_email {
              sysadmin@example.com
              support@example.com
              }
              notification_email_from lb@example.com
              smtp_server localhost
              smtp_connect_timeout 30
          }
          vrrp_instance VI_2 {
              state MASTER
              interface enp2s0
              virtual_router_id 2
              priority 101
              advert_int 1
              virtual_ipaddress {
                  {{ CLUSTER_APIENDPOINT_HOST }}
              }
          }
      - path : /etc/netplan/52-ironicendpoint.yaml
        owner: root:root
        permissions: '0644'
        content: |
          network:
            version: 2
            renderer: networkd
            bridges:
              {{ IRONIC_ENDPOINT_BRIDGE }}:
                interfaces: [enp1s0]
                addresses:
                - {{ "{{ ds.meta_data.provisioningIP }}" }}/{{ "{{ ds.meta_data.provisioningCIDR }}" }}
      - path : /etc/containers/registries.conf
        content: |
          [registries.search]
          registries = ['docker.io']

          [registries.insecure]
          registries = ['{{ REGISTRY }}']
"
export WORKERS_KUBEADM_EXTRA_CONFIG="
      users:
      - name: {{ IMAGE_USERNAME }}
        sudo: \"ALL=(ALL) NOPASSWD:ALL\"
        sshAuthorizedKeys:
        - {{ SSH_PUB_KEY_CONTENT }}
      preKubeadmCommands:
        - netplan apply
        - systemctl enable --now crio kubelet
      files:
        - path : /etc/netplan/52-ironicendpoint.yaml
          owner: root:root
          permissions: '0644'
          content: |
            network:
              version: 2
              renderer: networkd
              bridges:
                {{ IRONIC_ENDPOINT_BRIDGE }}:
                  interfaces: [enp1s0]
                  addresses:
                  - {{ "{{ ds.meta_data.provisioningIP }}" }}/{{ "{{ ds.meta_data.provisioningCIDR }}" }}
        - path : /etc/containers/registries.conf
          content: |
             [registries.search]
             registries = ['docker.io']
 
             [registries.insecure]
             registries = ['{{ REGISTRY }}']
"
