# When libvirt_action==teardown we destroy the existing configuration
libvirt_action: setup

# For some baremetal testing we set this to "baremetal" so that only the
# libvirt networking is configured, not the nodes
vm_platform: libvirt

# Which libvirt session should we use?  Using `qemu://session` does
# not require privileged access (but does require the setup performed by the
# `environment/setup` role).
libvirt_volume_pool: oooq_pool
libvirt_domain_type: kvm
libvirt_diskdev: sda
libvirt_diskbus: scsi
libvirt_arch: x86_64
libvirt_cpu_mode: host-model
libvirt_firmware: bios

# how many disks should be created when using extradisks
extradisks_list:
  - vdb

# size of the disks to create when using extradisks
extradisks_size: 8G

# The name of the libvirt service.
libvirtd_service: libvirtd
