############### Pivot back to source cluster ##############

  # Remove Ironic from target cluster
  - name: Remove Ironic from target cluster
    k8s:
      name: metal3-ironic
      kind: Deployment
      state: absent
      namespace: "{{ NAMESPACE }}"
      kubeconfig: "/tmp/kubeconfig-{{ CLUSTER_NAME }}.yaml"

  - name: Install Ironic in Source cluster (Ephemeral Cluster is kind)
    shell: "bash /home/$USER/go/src/github.com/metal3-io/baremetal-operator/tools/run_local_ironic.sh"
    environment:
      CONTAINER_RUNTIME: "{{ CONTAINER_RUNTIME }}"
    when: EPHEMERAL_CLUSTER == "kind"

  - name: Install Ironic in Source cluster (Ephemeral Cluster is minikube)
    shell: "{{ BMOPATH }}/tools/deploy.sh {{ DEPLOY_BMO }} {{ DEPLOY_IRONIC }} {{ DEPLOY_TLS }} {{ DEPLOY_BASIC_AUTH }} {{ DEPLOY_KEEPALIVED }}"
    environment:
      IRONIC_HOST: "{{ IRONIC_HOST }}"
      IRONIC_HOST_IP: "{{ IRONIC_HOST_IP }}"
    when: EPHEMERAL_CLUSTER == "minikube"

  - name: Re-pivot everything back to source cluster
    shell: "clusterctl move --kubeconfig /tmp/kubeconfig-{{ CLUSTER_NAME }}.yaml --to-kubeconfig /home/$USER/.kube/config -n {{ NAMESPACE }} -v 10"
