---
  - name: Define number of BMH's
    set_fact:
      NUMBER_OF_BMH: "{{ NUM_OF_MASTER_REPLICAS|int +  NUM_OF_WORKER_REPLICAS|int }}"

  - name: Create directories for storing container logs
    file:
      path: "/tmp/{{ CONTAINER_RUNTIME }}/{{ item }}"
      state: directory
    loop:
        - ironic-api
        - ironic-conductor
        - ironic-inspector
        - dnsmasq
        - httpd-infra
        - mariadb
        - ironic-endpoint-keepalived
        - ironic-log-watch
        - ironic-inspector-log-watch
    when: EPHEMERAL_CLUSTER == "kind"

  - name: Fetch container logs before pivoting
    shell: "sudo {{ CONTAINER_RUNTIME }} logs {{ item }} > /tmp/{{ CONTAINER_RUNTIME }}/{{ item }}/stdout.log 2> /tmp/{{ CONTAINER_RUNTIME }}/{{ item }}/stderr.log"
    with_items:
        - ironic-api
        - ironic-conductor
        - ironic-inspector
        - dnsmasq
        - httpd-infra
        - mariadb
        - ironic-endpoint-keepalived
        - ironic-log-watch
        - ironic-inspector-log-watch
    become: yes
    become_user: root
    when: EPHEMERAL_CLUSTER == "kind"

  - name: Remove ironic container from source cluster (Ephemeral Cluster is kind)
    docker_container:
      name: "{{ item }}"
      state: absent
    with_items:
       - ironic-api
       - ironic-conductor
       - ironic-inspector
       - dnsmasq
       - httpd
       - mariadb
       - ironic-endpoint-keepalived
       - ironic-log-watch
       - ironic-inspector-log-watch
    become: yes
    become_user: root
    when: EPHEMERAL_CLUSTER == "kind"

  - name: Remove Ironic from source cluster (Ephemeral Cluster is minikube)
    kubernetes.core.k8s:
      name: "{{ NAMEPREFIX }}-ironic"
      kind: Deployment
      state: absent
      namespace: "{{ IRONIC_NAMESPACE }}"
    when: EPHEMERAL_CLUSTER == "minikube"

  - name: Label BMO CRDs.
    shell: "kubectl label --overwrite crds baremetalhosts.metal3.io {{ item }}"
    with_items:
       - clusterctl.cluster.x-k8s.io=""
       - cluster.x-k8s.io/provider="metal3"
    when: CAPM3_VERSION == "v1alpha5"
       
  - name: Obtain target cluster kubeconfig
    kubernetes.core.k8s_info:
      kind: secrets
      name: "{{ CLUSTER_NAME }}-kubeconfig"
      namespace: "{{ NAMESPACE }}"
    register: metal3_kubeconfig

    # Install BMO
  - name: Install Baremetal Operator
    shell: "{{ BMOPATH }}/tools/deploy.sh true false {{ IRONIC_TLS_SETUP }} {{ IRONIC_BASIC_AUTH }} true"
    environment:
      IRONIC_HOST: "{{ IRONIC_HOST }}"
      IRONIC_HOST_IP: "{{ IRONIC_HOST_IP }}"
      KUBECTL_ARGS: "{{ KUBECTL_ARGS }}"
    when: CAPM3_VERSION == "v1alpha5"

  - name: Decode and save cluster kubeconfig
    copy:
      content: "{{ metal3_kubeconfig.resources[0].data.value | b64decode }}"
      dest: "/tmp/kubeconfig-{{ CLUSTER_NAME }}.yaml"

  - name: Create namespace
    kubernetes.core.k8s:
      name: "{{ NAMESPACE }}"
      kind: Namespace
      state: present
      kubeconfig: "/tmp/kubeconfig-{{ CLUSTER_NAME }}.yaml"

  # Configure Ironic configmap
  - name: Configure Ironic Configmap
    shell: |
      cp {{ BMOPATH }}/ironic-deployment/keepalived/ironic_bmo_configmap.env {{ BMOPATH }}/ironic-deployment/keepalived/ironic_bmo_configmap.env.orig
      cp {{ IRONIC_DATA_DIR }}/ironic_bmo_configmap.env  {{ BMOPATH }}/ironic-deployment/keepalived/ironic_bmo_configmap.env

  - name: Initialize Provider component in target cluster
    shell: "clusterctl init --kubeconfig /tmp/kubeconfig-{{ CLUSTER_NAME }}.yaml --core cluster-api:{{ CAPIRELEASE }} --bootstrap kubeadm:{{ CAPIRELEASE }} --control-plane kubeadm:{{ CAPIRELEASE }} --infrastructure metal3:{{ CAPM3RELEASE }} -v 5"

  # Check for cert-manager pods on the target cluster
  - name: Check if cert-manager  pods in running state
    kubernetes.core.k8s_info:
      kind: pods
      namespace: cert-manager
      kubeconfig: "/tmp/kubeconfig-{{ CLUSTER_NAME }}.yaml"
      field_selectors:
        - status.phase!=Running
    register: target_running_pods
    retries: 20
    delay: 20
    until: (target_running_pods is succeeded) and
           (target_running_pods.resources | length == 0)

  # Install Ironic
  - name: Install Ironic
    shell: "{{ BMOPATH }}/tools/deploy.sh false true {{ IRONIC_TLS_SETUP }} {{ IRONIC_BASIC_AUTH }} true"
    environment:
      IRONIC_HOST: "{{ IRONIC_HOST }}"
      IRONIC_HOST_IP: "{{ IRONIC_HOST_IP }}"
      KUBECTL_ARGS: "{{ KUBECTL_ARGS }}"

  - name: Reinstate Ironic Configmap
    shell: "mv {{ BMOPATH }}/ironic-deployment/keepalived/ironic_bmo_configmap.env.orig {{ BMOPATH }}/ironic-deployment/keepalived/ironic_bmo_configmap.env"

  - name: Label BMO CRDs in target cluster.
    shell: "kubectl --kubeconfig /tmp/kubeconfig-{{ CLUSTER_NAME }}.yaml label crds baremetalhosts.metal3.io {{ item }} --overwrite "
    with_items:
      - clusterctl.cluster.x-k8s.io=""
      - cluster.x-k8s.io/provider="metal3"
    when: CAPM3_VERSION == "v1alpha5"

  # Check for pods & nodes on the target cluster
  - name: Check if pods in running state
    kubernetes.core.k8s_info:
      kind: pods
      kubeconfig: "/tmp/kubeconfig-{{ CLUSTER_NAME }}.yaml"
      field_selectors:
        - status.phase!=Running
    register: target_running_pods
    retries: 150
    delay: 20
    until: (target_running_pods is succeeded) and
           (target_running_pods.resources | length == 0)

  - name: Pivot objects to target cluster
    shell: "clusterctl move --to-kubeconfig /tmp/kubeconfig-{{ CLUSTER_NAME }}.yaml -n {{ NAMESPACE }} -v 10"

  - name: Check if machines become running.
    kubernetes.core.k8s_info:
      api_version: cluster.x-k8s.io/{{ CAPI_VERSION }}
      kind: machines
      kubeconfig: "/tmp/kubeconfig-{{ CLUSTER_NAME }}.yaml"
    register: provisioned_machines
    retries: 50
    delay: 20
    until: (provisioned_machines is succeeded) and
           (provisioned_machines.resources | filter_phase("running") | length == (NUMBER_OF_BMH | int))

  - name: Check if metal3machines become ready.
    kubernetes.core.k8s_info:
      api_version: infrastructure.cluster.x-k8s.io/v1alpha4
      kind: metal3machine
      namespace: "{{ NAMESPACE }}"
      kubeconfig: "/tmp/kubeconfig-{{ CLUSTER_NAME }}.yaml"
    register: m3m_machines
    retries: 10
    delay: 20
    until: (m3m_machines is succeeded) and
           (m3m_machines.resources | filter_ready | length == (NUMBER_OF_BMH | int))

  - name: Check if bmh is in provisioned state
    kubernetes.core.k8s_info:
      api_version: metal3.io/v1alpha1
      kind: BareMetalHost
      namespace: "{{ NAMESPACE }}"
      kubeconfig: "/tmp/kubeconfig-{{ CLUSTER_NAME }}.yaml"
    register: bmh
    retries: 10
    delay: 20
    until: (bmh is succeeded) and
           (bmh.resources | filter_provisioning("provisioned") | length == (NUMBER_OF_BMH | int))
